/* MAIN STYLES */

body {
  background-image: url(../img/main_img/src/1.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #0e0202;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 20;
}

#page-wrapper {
  position: relative;
  background-color: #fff;
  margin: 0 120px;
  padding-top: 90px;
  margin-bottom: 100px;
}

header {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  color: #998b84;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  color: #998b84;
  font-family: 'Oswald', sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}

p {
  color: #0e0202;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.line {
  display: block;
  width: 140px;
  border: 2px solid #998b84;
  position: absolute;
  top: 35px;
}

#left_line {
  left: 0;
}

#right_line {
  right: 0;
}

/* END MAIN STYLES */


/* MENU */

ul {
  list-style: none;
  text-align: center;
  margin-top: 25px;
}

ul li {
  display: inline-block;
  margin-right: 30px;
}

ul li a {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
}

ul li a:hover, ul li a:focus {
  color: #fff;
  text-decoration: none;
}

nav img {
  margin: 0 auto;
}

.small_logo {
  display: none;
}

nav a.anim_btn:link, nav a.anim_btn:visited {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.5em;
  max-width: 350px;
  margin: 19px auto 0;
}

nav a.anim_btn:link:after, nav a.anim_btn:visited:after {
  background: none repeat scroll 0 0 #fff;
}

nav a.anim_btn:link:hover, nav a.anim_btn:visited:hover {
  color: #000;
}

/* MENU SECTION */


/* HEADER SECTION */

#header_section {
  padding: 0 0;
}

#header_img_section {
  background-image: url(../img/header_section/src/1.jpg);
  background-position: center center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 890px;
  padding-top: 150px;
  padding-left: 50px;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 71%, 0 82%);
  clip-path: polygon(0 0, 100% 0, 100% 71%, 0 82%);
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 100px;
  -webkit-box-shadow: 0px 0px 72px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 72px 4px rgba(0,0,0,0.3);
}

.circle_text {
  position: relative;
  z-index: 5;
  width: 400px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  padding-top: 0;
}

.circle h2 {
  color: #0e0202;
  margin-top: 85px;
  font-size: 3.3em;
}

.circle p {
  font-size: 1.5em;
}

a.circle_btn {
  background-color: #bfb1aa;
  color: #fff;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  width: 200px;
  padding: 5px;
  padding-top: 0;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
  transition: .3s;
}

a.circle_btn:hover {
  border-radius: 30px;
}

a.anim_btn:link, a.anim_btn:visited {
  position: relative;
  display: block;
  max-width: 200px;
  width:100%;
  margin: 30px auto 0;
  padding: 14px 15px;
  border: 1px solid #0e0202;
  background: rgba(255, 255, 255, 0.2);
  color: #0e0202;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 10;
}
a.anim_btn:link:after, a.anim_btn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #000;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
a.anim_btn:link:hover, a.anim_btn:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.anim_btn:link:hover:after, a.anim_btn:visited:hover:after {
  height: 420%;
}

a.anim_btn.effektD:after {
  width: 0%;
  border-radius: 50%;
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.anim_btn.effektD:hover:after {
  height: 450%;
  width: 110%;
  opacity: 1;
}


/* END HEADER SECTION  */


/* ABOUT US SECCTION */

#about_us_section {

}

#about_us_section header {
  top: -100px;
}

.rel_row {
  position: relative;
  top: -50px;
}

.about_us_article {
  margin-bottom: 50px;
}

.about_us_article img {
  float: left;
  margin-right: 10px;
}

.about_us_article_content {
  padding-left: 120px;
}

.about_us_article_content p {
  color: #0e0202;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

#img_section {
  background-image: url(../img/about_us_section/src/1.jpg);
  background-position: center center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  padding: 0;
  margin: 0;
  position: relative;
}

.img_section_content {
  width: 350px;
  position: absolute;
  top: 30px;
  right: 70px;
}

#img_section .line{
  width: 80px;
  top: 85px;
  border-color: #d1c4cc;
}

.img_section_content h2, .img_section_content p {
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}

a.arrow_top {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  color: #0e0202;
  text-align: center;
  text-decoration: none;
  position: absolute;
  padding-top: 5px;
  bottom: -30px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
}

.arrow_top i {
  font-size: 4em;
}

/* END ABOUT US SECTION */


/* WORK SCHEME */

#work_scheme {
  padding-top: 60px;
  padding-bottom: 80px;
}

#work_scheme header {
  margin-bottom: 70px;
}

.scheme_block {
  background-image: url(../img/scheme_section/src/1.png);
  background-repeat: no-repeat;
  background-position: right center;
  text-align: center;
  padding-top: 10px;
}

.scheme_block:last-child {
  background-image: none;
  padding-left: 0;
  text-align: center;
}

.scheme_block h3 {
  font-size: 2.5em;
}

/* END WORK SCHEME*/

#scheme_img {
  background-image: url("../img/product_secction/src/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
}

#scheme_img .line {
  width: 80px;
  top: 85px;
  border-color: #d1c4cc;
}

#scheme_img .img_section_content {
  width: 450px;
}

/* PRODUCT SECCTION */

#product_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#product_section img {
  margin: 0 auto;
  margin-top: 100px;
}

/*#product_section .col-lg-6 {
  border: 1px solid #000;
}
*/

.product_block {
  margin-bottom: 80px;
}

.product_description {
  border: 4px solid #d1c4cc;
  max-width: 700px;
  height: 420px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  padding: 0;
}

.product_description h2 {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  padding-top: 0;
  top: 50px;
  left: -45px;
  margin: 0;
}

.product_description p {
  width: 550px;
  margin-top: 160px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.product_data {
  width: 550px;
  margin-left: 50px;
  clear: both;
}

.data_font {
  color: #0e0202;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

#product_section .data_font img {
  margin-top: 0;
  margin-right: 10px;
}

.price_date {
  margin-top: 20px;
}

.left_data {
  float: left;
}

.right_data {
  float: right;
}

a.product_description_btn {
  background-color: #d1c4cc;
  color: #fff;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-decoration: none;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  padding-top: 2px;
  margin-top: 30px;
  transition: .3s;
}

a.product_description_btn:hover {
  border-radius: 30px;
}

#product_section a.anim_btn:link, a.anim_btn:visited {
  max-width: 700px;
}

#product_section #bottom_btn {
  max-width: 200px;
}

#product_img {
  background-image: url("../img/footer_section/src/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
}

#product_img .circle {
  top: 125px;
  right: 100px;
}

#product_img .circle h2 {
  margin-top: 115px;
}

/* END PRODUCT SECCTION */


/* CONTACTS SECTION */

#contacts_section {
  padding-bottom: 40px;
}

.contacts_section_text {
  text-align: center;
  margin-top: 50px;
}

.contacts_section_text p:nth-child(2){
  margin-bottom: 0;
}

#contacts_section header {
  max-width: 700px;
}

#contacts_section header p{
  text-align: center;
}

.icons_article {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.icons_article a {
  background-color: #bfb1aa;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 2.2em;
  text-decoration: none;
  padding-top: 17px;
  margin-left: 15px;
  margin-right: 15px;
  width: 75px;
  height: 75px;
}

#contacts_img {
  background-image: url("../img/footer_section/src/3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
}

#contacts_img .img_section_content {
  right: 100px;
}

#contacts_img #right_line {
  width: 80px;
  top: 80px;
  border-color: #d1c4cc;
}

/* END CONTACTS SECTION */


/* FOOTER SECTION */

#footer_section {
  padding: 0 120px;
  text-align: right;

}

#footer_section p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

.footer_link {
  margin-bottom: 100px;
}

.copyright {
  text-align: center;
  margin-bottom: 50px;
}

/* END FOOTER SECTION */
